# Dependencias
node_modules/
backend/node_modules/
Cliente/node_modules/

# Variables de entorno
.env
backend/.env

# Coberturas de pruebas
backend/coverage/

# Archivos que no van al repo
*.docx
*.sql

# Uploads
backend/uploads/

# Logs
*.log
npm-debug.log*